* {
  background-color: Snow;
  font-family: sans-serif;
}

h1 {
  color: MidnightBlue;
  text-align: center;
}

p {
  color: SlateBlue;
  padding: 10px;
}

ul li {
  color: RebeccaPurple;
  bullet-color: Indigo;
}


  
  
  

