* {
  background-color: Azure;
  font-family: sans-serif;
}

h1 {
  color: MidnightBlue;
  text-align: center;
}

p {
  color: SlateBlue;
  padding: 10px;
}

ul li {
  color: RebeccaPurple;
}

li::marker {
  color: Black;
}

a {
  color: Blue;
}

a:hover {
  text-decoration: none;
}




  
  
  

